.nav {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  background-color: #FCFCFC;
  border-top: 1px solid #F8F8F8;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge{
  position: absolute;
  top: -10px;
  right: -8px;
  color: white;
  background: #E55F3F;
  width: 17px;
  height: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 13px;
}