.nav {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  background-color: #FCFCFC;
  border-top: 1px solid #F8F8F8;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i{
  font-size: 20px;
}